body {
margin: 0px;
min-height: 98vh;
background: #000000;
color: #ffffff;
overflow-x: hidden;
font-family:'Josefin Sans', sans-serif;
border: solid 6px #0343E8;
}
.logo{
width: 50px;
margin: 30px 0px 20px 50px;
}
.header {
position: absolute;
width: 70%;
margin: 160px 0px 0px 50px;
line-height: 40px;
}
.header h1 {
font-weight: bolder;
font-size: 80px;
}
.header h3 {
font-weight: lighter;
font-size: 18px;
}
nav {
float: right;
height: 273px;
margin: 20px 50px 20px 0px;
}
.highlight {
border-bottom: 2px dotted #0343E8;
}
.highlight_1 {
padding-bottom: 20px;
}
a {
cursor: pointer;
font-style: normal;
font-weight: bold;
font-size: 12px;
text-decoration: none;
text-transform: uppercase;
color: #ffffff;
}
nav a {
font-size: 18px;
font-weight: lighter;
line-height: 20px;
text-align: right;
letter-spacing: 0.1em;
display: block;
}
nav a:hover {
border-right: 2px solid #0343E8;
transition: 0.3s ease-in;
}
.button_dark {
width: auto;
margin: 20px 0px 0px 50px;
float: left;
background: #0343E8;
padding: 7px 30px 7px 30px;
color: #ffffff;
text-transform: uppercase;
}
.button_dark:hover {
background: none;
border: solid 1px #0343E8;
transition: 0.2s ease-out;
}
.button_light {
float: left;
margin: 20px 0px 0px 20px;
width: auto;
border: solid 1px #0343E8;
padding: 5px 30px 5px 30px;
text-transform: uppercase;
color: #ffffff;
}
.button_light:hover {
background: #0343E8;
transition: 0.2s ease-out;
border: solid 1px #0343E8;
}
footer{
margin-top: 500px;
text-align: center;
}

/* RWD */

@media screen and (max-width: 800px) {
body {
padding: 0px;
margin: 0px;
border: solid 6px #0343E8;
max-height: 150vh;
}
.logo{
width: 50px;
margin: 40px 0px 0px 20px;
}
nav {
float: right;
margin: 60px 0px 0px 10px;
}
nav a {
text-align: right;
margin-right: 20px;
letter-spacing: 0.1em;
display: inline;
}
nav a:hover {
border-bottom: 2px solid #0343E8;
transition: 0.3s ease-in;
}
.header h1 {
font-weight: bolder;
font-size: 45px;
}
.header {
margin-top: 120px;
margin-left: 20px;
}
.button_dark {
margin-left: 10px;
width: auto;
padding: 5px 10px 5px 10px;
}
.button_light {
margin-left: 10px;
border: solid 1px #0343E8;
padding: 5px 10px 5px 10px;
text-transform: uppercase;
color: #ffffff;
}
footer{
margin-top: 700px;
clear: both;
text-align: center;
}
}
