body {
margin: 0px;
background: #090E2D;
color: #ffffff;
overflow-x: hidden;
font-family:'Quicksand', sans-serif;
border: solid 6px #18ADCC;
-webkit-animation-duration: 5s;
animation-duration: 2s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}
.logo{
width: 50px;
margin: 30px 0px 20px 50px;
}
.header {
line-height: 40px;
letter-spacing: 1px;
padding: 80px 50px 0px 50px;
}
.header h1 {
font-weight: bolder;
font-size: 100px;
letter-spacing: 5px;
color: #18ADCC;
}
h2 {
font-size: 32px;
}
.header h3 {
font-weight: normal;
font-size: 16px;
}
nav {
float: right;
height: 200px;
margin: 20px 50px 20px 0px;
}
.blurb {
margin-top: 30px;
}
a {
cursor: pointer;
font-style: normal;
font-weight: bold;
font-size: 12px;
text-decoration: none;
color: #ffffff;
}
nav a {
font-size: 18px;
font-weight: lighter;
line-height: 30px;
text-align: right;
display: block;
transition: all .2s ease-in-out;
}
nav a:hover {
opacity: 0.8;
transform: scale(1.1)
}
/* .button_dark {
width: auto;
border: none;
margin: 20px 0px 0px 0px;
float: left;
background: #18ADCC;
padding: 5px 30px 5px 30px;
color: #ffffff;
text-transform: uppercase;
}
.button_dark:hover {
background: none;
border: solid 1px #18ADCC;
transition: 0.2s ease-out;
} */
.button_light {
border-radius: 50px;
float: left;
margin-top: 20px;
width: auto;
background: #18ADCC;
border: solid 1px #18ADCC;
padding: 5px 30px 5px 30px;
text-transform: uppercase;
color: #090E2D;
margin-bottom: 50px;
transition: 0.2s ease-in-out;
}
.button_light:hover {
background: transparent;
border: solid 1px #18ADCC;
color: #ffffff;
}
.section {
padding: 50px 0px 50px 50px;
clear: both;
margin-top: 20px;
display: inline-block;
}
.about-me, .chat{
background: #101537;
}
.section-text {
width: 70%;
float: left;
}
.section a {
border-bottom: 2px dotted #18ADCC;
text-transform: uppercase;
}
.section a:hover {
color: rgba(255,255,255,0.8);
}
.section-text p {
font-size: 18px;
line-height: 30px;
letter-spacing: 1px;
}
.section-image {
width: 30%;
float: right;
}
.section-image img{
width: 80%;
margin-top: -50px;
animation-name: floating;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration: 3s;
}
h4 {
text-transform: uppercase;
font-size: 32px;
letter-spacing: 5px;
}
.item p{
font-size: 18px;
font-weight: normal;
}
.chat{
width: 96%;
text-align: center;
margin-bottom: 0px;
}
h6 {
margin-block-start: 1em;
margin-block-end: 1em;
font-size: 45px;
text-align: center;
}
.chat p, .chat a {
font-weight: normal;
font-size: 30px;
margin-top: -10px;
text-transform: none;
}
.selected-works {
clear: both;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 40px;
margin-right: 30px;
}
.item img {
width: 100%;
border-radius: 5px;
}
/* #item1{
animation-name: floating;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration:5s;
}
#item2{
animation-name: floating;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration: 3s;
}
#item3{
animation-name: floating;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration:3s;
}
#item4{
animation-name: floating;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-duration: 5s;
} */
footer{
text-align: center;
padding: 5px 0 5px 0;
background: #050922;
}
.heart {
color:#18ADCC ;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

/* RWD */

@media screen and (max-width: 800px) {
body {
padding: 10px;
border: solid 6px #18ADCC;
}
.logo{
width: 50px;
margin: 40px 0px 0px 20px;
}
nav {
float: right;
margin: 50px 0px 0px 10px;
height: 150px;
}
nav a {
text-align: right;
margin-right: 20px;
letter-spacing: 0.1em;
display: inline;
}
nav a:hover {
border-bottom: 2px solid #18ADCC;
transition: 0.3s ease-in;
}
.header h1 {
font-weight: bolder;
font-size: 45px;
margin-right: 0px;
letter-spacing: 1px;
clear: both;
}
.header {
width: 95%;
padding: 0px 20px 0px 20px;
}
.button_dark {
border: none;
margin-left: 0px;
width: auto;
padding: 5px 12px 5px 12px;
}
.button_light {
border: solid 1px #18ADCC;
padding: 5px 20px 5px 20px;
text-transform: uppercase;
color: #ffffff;
}
.section {
padding: 30px 20px 50px 20px;
}
.section-text {
width: 100%;
}
.section-image {
width: 100%;
}
.section-image img{
width: 80%;
margin-top: 10px;
}
.selected-works {
clear: both;
display: grid;
grid-template-columns: 1fr;
margin-right: 30px;
}
.chat{
width: 92%;
}
footer{
clear: both;
text-align: center;
}
}
